<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <header>
        <h2><p style="text-align:center;"><font face= "Algerian" size="10">Contact Us</font></p></h2>
    </header>
    <body>
        
<h1><p style="text-align:center;color:blueviolet"><font face= "Courier" size="10">Hotel Green View</font></p></h1><br>
<p style="text-align:center;color:purple">
    <font face= "Courier" size="6"><br>Agrabaad,Nizam Uddin Road,<br> 
                               <br>Chitagong,Bangladesh.<br>
                               <br>Phone:+880 171896778<br>
                                 <br>Fax: 88976590<br>
                                    </font>
        </p>
                                    </body>
    </html>