<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
   <center> <h1 ><font face="Impact" size ="10" color="Blue">Green View hotel</font></h1></center>
<div class="container">
  <a href="../Hotel management admin" class="btn btn1">Admin</a>
  <a href="../Views/login.html" class="btn btn2">Manager</a>
  <a href="../controller/Login.php" class="btn btn3">Receptionist</a>
  
</div>
  </body>
</html>