<!DOCTYPE html>
<html>
<head>
</head>
<body>

 <h1>Search the code to verify</h1>

 <label for="searchKey">Code</label>
<input type="text" name="searchKey" id="searchKey">
<br><br>
<button id="search" onclick="search()">Search</button>
<button onclick="history.go(-1);">Back </button>
 <p id="p2"></p>


<script>

 function search() {
var searchKey = document.getElementById("searchKey").value;

 

 var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
if(this.readyState == 4 && this.status == 200) {
document.getElementById("p2").innerHTML = xhttp.responseText;
}
}

 

 xhttp.open("GET", "../Controller/searchDiscount.php?searchKey=" + searchKey, true);
xhttp.send();
}

 
</script>

</body>
</html>