<!DOCTYPE html>
<html>
<head>
<title>Meeting</title>
</head>
<body background="../model/white.jpg">
<center>
<label for="UserId">UserId</label>
<input type="text" name="UserId" id="UserId">
<br><br>
<label for="Name">Name:</label>
<input type="text" name="Name" id="Name">
<br><br>
<label for="PhoneNumber">PhoneNumber</label>
<input type="text" name="PhoneNumber" id="PhoneNumber">
<br><br>
<label for="BookingDate">BookingDate</label>
<input type="Date" name="BookingDate" id="BookingDate">
<br><br>
<label for="MeetingDate">MeetingDate</label>
<input type="Date" name="MeetingDate" id="MeetingDate">
<br><br>
<label for="RoomNo">RoomNo:</label>
<select id='RoomNo' name="RoomNo">
    <option selected disabled >Select Room NO:</option>
    <option value="301">301</option>
    <option value="302">302</option> 
</select>

<br><br>

 <button id="submit" onclick="submit()">Submit</button>

<p id="p1"></p>

<br>
<hr>
<br>
</body>

<body>

 <h1 >Search By Id </h1>

<label for="searchKey">ID:</label>
<input type="number" name="searchKey" id="searchKey">

 <button id="search" onclick="search()">Search</button>
<br><br>
<button onclick="history.go(-1);">Back </button>
<p id="p2"></p>
</center>
 

 <script>
function submit() {

 

 var UserId = document.getElementById("UserId").value;
 var Name = document.getElementById("Name").value;
 var PhoneNumber = document.getElementById("PhoneNumber").value;
 var BookingDate = document.getElementById("BookingDate").value;
 var MeetingDate = document.getElementById("MeetingDate").value;
 var RoomNo = document.getElementById("RoomNo").value;

if(UserId == "" || Name == "" || PhoneNumber == "" || BookingDate == "" ||MeetingDate == "" ||RoomNo == "") {
document.getElementById("p1").innerHTML = "Fill up the form properly";
document.getElementById("p1").style.color = "red";
}

 

 else {

var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
if(this.readyState == 4 && this.status == 200) {
document.getElementById("p1").innerHTML = xhttp.responseText;
document.getElementById("p1").style.color = "green";
}
}

xhttp.open("POST", "../controller/BMeeting.php", true);
xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
xhttp.send("UserId="+UserId+"&Name="+Name+"&PhoneNumber="+PhoneNumber+"&BookingDate="+BookingDate+"&MeetingDate="+MeetingDate+"&RoomNo="+RoomNo);
}
}

 

 function search() {
var searchKey = document.getElementById("searchKey").value;

 

 var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
if(this.readyState == 4 && this.status == 200) {
document.getElementById("p2").innerHTML = xhttp.responseText;
}
}

 

 xhttp.open("GET", "../controller/BMeeting.php?searchKey=" + searchKey, true);
xhttp.send();
}

 

 </script>

 

</body>
</html>

